body {
    background-color: black;
    overflow: hidden;
}

body div:first-child {
    margin: 0px auto;
    width: 640px;
    height: 800px;
    -webkit-app-region: drag;
    position: fixed;
    bottom: 0px;
}
