:root {
    --mid-color: rgb(208, 208, 208);
    --dark-mid-color: rgb(41, 44, 51);
    --border-color: rgb(165, 165, 165);
    --dark-border-color: rgb(30, 31, 35);
    --view-color: rgb(128, 128, 128);
    --dark-view-color: rgb(34, 37, 43);
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    margin: 0px;
    user-select: none;
    font-family: BlinkMacSystemFont, "Segoe UI";
    color: black;
}
body.dark {
    color: white;
}
canvas {
    image-rendering: pixelated;
    vertical-align: bottom;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
 }

 ::-webkit-scrollbar-corner {
     background: var(--dark-view-color);
 }

 ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.4);
}
