body {
    user-select: none;
    font-size: 14px;
    color: #aaaaaa;
    background-color: var(--dark-mid-color);
    overflow: hidden;
}

form {
    width: 400px;
    margin: 0px auto;
}

form > div {
    margin: 2px 0px;
}

form > div:first-child {
    margin-top: 20px;
}

label {
    display: inline-block;
    width: 300px;
    text-align: right;
    height: 32px;
    line-height: 32px;
}

label.text_box {
    width: 150px;
    display: inline-block;
    vertical-align: middle;
}

input[type="text"], input[type="password"] {
    vertical-align: top;
    padding: none;
    margin: 4px;
    width: 190px;
    height: 16px;
    padding: 3px 6px;
    color: white;
    display: inline-block;
    border: 1px solid #aaaaaa;
    background: none;
    font-family: var(--system-font);
    font-size: 14px;
    outline: none;
}

input[type="text"]:focus {
    border-color: white;
}

button {
    float: right;
    color: #aaaaaa;
    border-radius: 4px;
    margin-left: 8px;
    width: 70px;
    height: 24px;
    background: none;
    border: 1px solid #aaaaaa;
    outline: none;
}

button:active {
    color: white;
    border-color: white;
}

#connect {
    margin-top: 24px;
}