body {
    font-size: 14px;
    color: white;
    background-color: var(--dark-mid-color);
    overflow: hidden;
}

form {
    width: 400px;
    margin: 0px auto;
}

form > div:first-child {
    margin-top: 16px;
}

form > div {
    /* margin: 16px 0px; */
}

label {
    display: inline-block;
    width: 300px;
    text-align: right;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

input[type="text"] {
    font-family: BlinkMacSystemFont;
    font-size: 14px;
    outline: none;
    margin: 16px 0px;
    width: 300px;
    height: 16px;
    padding: none;
    vertical-align: bottom;
}

button {
    margin-left: 8px;
    display: inline;
    width: 70px;
    height: 24px;
}