body {
    margin: 0;
    user-select: none;
    overflow: hidden;
}

#resize_requester, #sauce_requester {
    font-size: 13px;
    margin: 0 auto;
    overflow: hidden;
    color: white;
}

#resize_requester {
    width: 300px;
}

#sauce_requester {
    width: 350px;
}

form {
    padding: 24px 0px 8px 0px;
    width: 300px;
}

p {
    margin: 8px;
}

p.note {
    margin: 4px 8px;
    font-size: 10px;
}

textarea {
    border: none;
    border-top: 1px solid rgb(50, 50, 50);
    border-bottom: 1px solid rgb(50, 50, 50);
    padding: 0 8px;
    width: 334px;
    height: 100px;
    margin: 0 auto;
    resize: none;
}

label {
    display: inline-block;
    text-align: right;
    width: 105px;
}

input, textarea {
    background: none;
    outline: none;
    color: white;
}

.illegal {
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
}

input {
    margin: 4px;
    padding: 4px;
    border: 1px solid var(--mid-color);
}

input[type=text] {
    width: 170px;
}

input[type=number] {
    margin-left: 8px;
    width: 100px;
}

button {
    position: absolute;
    bottom: 4px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    background: none;
    color: var(--text);
    padding: 6px 10px;
    margin: 6px;
    outline: none;
    transition-property: background-color;
    transition-duration: 20ms;
    transition-timing-function: linear;
}

button:active {
    border: 1px solid white;
    background-color: var(--status);
    color: var(--text);
}

#cancel {
    left: 0px;
}

#ok {
    right: 0px;
}
