.panel {
    position: absolute;
    top: 0px; left: 0px;
    width: 100%; height: 100%;
}

.panel > div {
    width: fit-content;
    margin: 0px auto;
    font-size: 12px;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.7);
}

body.dark .panel > div {
    color: rgba(255, 255, 255, 0.3);
}

.panel > div > canvas {
    display: inline-block;
    border: 1px solid black;
    width: 16px;
    height: 32px;
}

.panel > div > div {
    display: inline-block;
    text-align: right;
}

#sample_fg, #sample_bg {
    margin: 8px;
}

#code_value {
    width: 16px;
}
#fg_value, #bg_value {
    width: 8px;
}
#half_block, #colorize, #colorize_fg, #colorize_bg {
    float: left;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.7);
    padding: 0px 16px;
    height: 30px;
    margin: 8px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

#half_block {
    margin-right: 0px;
    border-right: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#colorize {
    margin-left: 0px;
    border-left: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#colorize_fg {
    margin-right: 0px;
    border-right: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#colorize_bg {
    border-left: none;
    margin-left: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#brush_size {
    border: none;
    outline: none;
    vertical-align: top;
    margin-top: 12px;
    height: 16px;
    width: 48px;
    display: inline-block;
}

.brush_mode_selected {
    background-color: rgba(85, 85, 128, 0.9);
    text-shadow: 0px 1px rgba(0, 0, 0, 0.6);
}

.brush_mode_ghosted {
    opacity: 0.4;
}
