.panel {
    position: absolute;
    top: 0px; left: 0px;
    width: 100%; height: 100%;
    overflow: hidden;
}

.panel > div {
    width: fit-content;
    min-width: max-content;
    margin: 0px auto;
    font-size: 12px;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.7);
}

body.dark .panel > div {
    color: rgba(255, 255, 255, 0.3);
}

#fkey_chooser {
    float: right;
}

#fkey_chooser > div {
    float: left;
    line-height: 48px;
    text-align: center;
}

#fkey_chooser_left, #fkey_chooser_right {
    opacity: 0.7;
    color: rgba(255, 255, 255, 0.6);
    height: 48px;
    width: 30px;
    font-size: 12px;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 15px 24px;
}

#fkey_chooser_left {
    background-image: url("../img/arrow_left.png");
}

#fkey_chooser_right {
    background-image: url("../img/arrow_right.png");
}

#fkey_chooser_num {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.3);
    width: 30px;
    font-size: 20px;
}

.panel > div > canvas {
    display: inline-block;
    border: 1px solid black;
    width: 16px;
    height: 32px;
}

.panel > div > div {
    display: inline-block;
    text-align: right;
}

.fkey_pref_text {
    color: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.fkey_pref_text:hover {
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.panel > div > div > canvas {
    cursor: pointer;
}

#sample_fg, #sample_bg {
    margin: 8px;
}

#code_value {
    width: 16px;
}
#fg_value, #bg_value {
    width: 8px;
}
.button {
    float: left;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.3);
    padding: 0px 12px;
    height: 30px;
    margin: 8px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-image: -webkit-linear-gradient(top, rgb(34, 37, 43), rgb(30, 31, 35));
    cursor: pointer;
}

#half_block {
    margin-right: 0px;
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#full_block, #shading_block, #clear_block, #replace_color, #blink {
    margin-left: 0px;
    margin-right: 0px;
    border-right: none;
    border-left: none;
}

#colorize {
    margin-left: 0px;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#colorize_fg {
    margin-right: 0px;
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#colorize_bg {
    border-left: none;
    margin-left: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#brush_size {
    border: none;
    outline: none;
    vertical-align: top;
    margin-top: 12px;
    height: 16px;
    width: 48px;
    display: inline-block;
}

.brush_mode_selected {
    border-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0px -1px rgba(0, 0, 0, 0.2);
    background-image: -webkit-linear-gradient(top, rgba(96, 108, 136, 0.6), rgba(83, 96, 127, 0.6));
}

.brush_mode_ghosted {
    opacity: 0.4;
}
